<form>
    <!-- login form fields here -->
    <%- messages() %>
    <input type="text" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Login</button>
</form>