/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
  justify-items: center;
}
#top-header{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.siteName{
  grid-column: 0/1;
  color: black;
  font-size: 30px;
  font-style: bold;
}
.siteName a:visited{
  color: black;
}
#tools{
  justify-content: right;
  grid-column: 3/4;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: whitesmoke;
  padding: 15px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li a {
  font-size: medium;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 20px 10px 20px ;
  border-radius: 5px;
}

nav ul li :hover {
  transition: .5s;
  background-color: rgb(0, 183, 228);
  border: 3px solid gray;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
}

.heroText{
  background: rgba(255, 255, 255, 0.4);
  color: rgb(0, 183, 228);
  position: absolute;
  top:25%;
  left: 2%;
}
.ownButton{
  padding: 10px;
  background-color: rgb(0, 183, 228);
}
.upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.upgrades img{
  padding: 25px;
  background: rgb(0, 183, 228);
  border: 3px solid black;
}
#bumper{
  grid-column: 1/2;
  grid-row: 1/2;
}
#flame{
  grid-column: 2/3;
  grid-row: 1/2;
}
#flux{
  grid-column: 1/2;
  grid-row: 2/3;
}
#hub{
  grid-column: 2/3;
  grid-row: 2/3;
}

.detailView{
  border: 5px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.detailView img{
  grid-column: 1/2;
  grid-row: 1/4;
  justify-self: center;
  align-self: center;
  max-width: 90%;
  padding: 10px;
  background-color: gray;
}

.detailView h2{
  background-color: rgb(0, 183, 228);;
  border: 2px solid gray;
  border-radius: 5px;
}
#inv-display{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 100px;
  
}
#inv-display h2{
  border: 3px solid gray;
  border-radius: 5px;
}
#inv-display img{
  height: auto;
}
#inv-display a{
  text-decoration: none;
  color: black;
}
#inv-display h2:hover{
  transition: .5s;
  background-color: rgb(0, 183, 228);
}

@media screen and (max-width: 600px) {
  .detailView{
    border: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .detailView img{
    grid-column: auto;
    grid-row: auto;
  }
  #inv-display{
    grid-template-columns: 1fr;
    margin: 20px;
  }
  
}

input:required:invalid, input:focus:invalid {
  /* insert your own styles for invalid form input */
 }

 input:required:valid {
  /* insert your own styles for valid form input */
 }